antlr4-python3-runtime==4.9.3 ; python_full_version > "3.8.1" and python_version < "3.12"
contourpy==1.0.7 ; python_full_version > "3.8.1" and python_version < "3.12"
cycler==0.11.0 ; python_full_version > "3.8.1" and python_version < "3.12"
dbfread==2.0.7 ; python_full_version > "3.8.1" and python_version < "3.12"
et-xmlfile==1.1.0 ; python_full_version > "3.8.1" and python_version < "3.12"
fonttools==4.39.3 ; python_full_version > "3.8.1" and python_version < "3.12"
hydra-core==1.3.2 ; python_full_version > "3.8.1" and python_version < "3.12"
importlib-resources==5.12.0 ; python_full_version > "3.8.1" and python_version < "3.10"
kiwisolver==1.4.4 ; python_full_version > "3.8.1" and python_version < "3.12"
matplotlib==3.7.1 ; python_full_version > "3.8.1" and python_version < "3.12"
mksci-font==0.1.3 ; python_full_version > "3.8.1" and python_version < "3.12"
numpy==1.24.2 ; python_version < "3.12" and python_full_version > "3.8.1"
omegaconf==2.3.0 ; python_full_version > "3.8.1" and python_version < "3.12"
openpyxl==3.1.2 ; python_full_version > "3.8.1" and python_version < "3.12"
packaging==23.0 ; python_full_version > "3.8.1" and python_version < "3.12"
pandas==1.5.3 ; python_full_version > "3.8.1" and python_version < "3.12"
pillow==9.4.0 ; python_full_version > "3.8.1" and python_version < "3.12"
pyparsing==3.0.9 ; python_full_version > "3.8.1" and python_version < "3.12"
python-dateutil==2.8.2 ; python_full_version > "3.8.1" and python_version < "3.12"
python-ternary==1.0.8 ; python_full_version > "3.8.1" and python_version < "3.12"
pytz==2023.3 ; python_full_version > "3.8.1" and python_version < "3.12"
pyyaml==6.0 ; python_full_version > "3.8.1" and python_version < "3.12"
scipy==1.10.1 ; python_full_version > "3.8.1" and python_version < "3.12"
seaborn==0.12.2 ; python_full_version > "3.8.1" and python_version < "3.12"
six==1.16.0 ; python_full_version > "3.8.1" and python_version < "3.12"
zipp==3.15.0 ; python_full_version > "3.8.1" and python_version < "3.10"
